.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}
.calculator {
	width: 300px;
	height: 400px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

button {
	width: 75px;
	height: 75px;
}
